body{
    background: gray;
    background-size: cover;
    background-repeat: no-repeat;
}
#parent{
    height: 300px;
    width: 100px;
    margin-left: 200px;
    margin: top 50px; ;
}
#child {
height: 600px;
width: 500px;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
background-image:url(./img4.jpg);
background-repeat: no-repeat;
background-size: cover
}
#child1 {
    height: 600px;
    width: 500px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-left: 500px;
    background-color: #333;  
}
#form{
    margin-left: 100px;
    width: 300px;
    height: 0px;
    padding-top: 25px;
}
